@font-face {
  font-family: 'iconfont';  /* Project id 4393931 */
  src: url('//at.alicdn.com/t/c/font_4393931_r9mqmddtvco.woff2?t=1703910778863') format('woff2'),
       url('//at.alicdn.com/t/c/font_4393931_r9mqmddtvco.woff?t=1703910778863') format('woff'),
       url('//at.alicdn.com/t/c/font_4393931_r9mqmddtvco.ttf?t=1703910778863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}